<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="me.johnmh.boogdroid">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ui.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.BoogDroid">

        <activity
            android:name=".ui.ActivityServer"
            android:label="@string/app_name"
            android:theme="@style/Theme.BoogDroid.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ActivityServerManager"
            android:label="@string/manage_servers" />
        <activity android:name=".ui.ActivityRegister" />
    </application>

</manifest>
