<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ws.lamm.bugdroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="ws.lamm.bugdroid.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_black_24dp"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material">
    </application>

</manifest>
