<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ws.lamm.bugdroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="ws.lamm.bugdroid.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_black_24dp"
        android:label="@string/app_name"
        android:theme="@style/Theme.BoogDroid">

        <activity
            android:name="ws.lamm.bugdroid.ui.ActivityServer"
            android:label="@string/app_name"
            android:theme="@style/Theme.BoogDroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ws.lamm.bugdroid.ui.ActivityServerManager"
            android:label="@string/manage_servers"
            android:theme="@style/Theme.BoogDroid" />

        <activity
            android:name="ws.lamm.bugdroid.ui.ActivityRegister"
            android:theme="@style/Theme.BoogDroid" />
    </application>

</manifest>
